In [ ]:
import pandas as pd
import numpy as np
import sklearn
import warnings
warnings.filterwarnings("ignore")

In [ ]:
titanic_data = pd.read_csv("titanic.csv")
titanic_data.head(2)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C

[2 rows x 12 columns]

In [ ]:
titanic_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
titanic_data.drop("Cabin",axis=1,inplace=True)

In [ ]:
#to check the null values
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [ ]:
#Fill the values of Age column
titanic_data['Age'].fillna((titanic_data['Age'].mean()),inplace=True)

In [ ]:
#check null values
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [ ]:
#To drop all null values
titanic_data.dropna(inplace=True)

In [ ]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
#To create dummies (categories)
sex = pd.get_dummies(titanic_data["Sex"],drop_first=True)
sex.head(2)

   male
0     1
1     0

In [ ]:
Pcl = pd.get_dummies(titanic_data["Pclass"],drop_first=True)
Pcl.head(2)

   2  3
0  0  1
1  0  0

In [ ]:
embark = pd.get_dummies(titanic_data["Embarked"],drop_first=True)
embark.head(2)

   Q  S
0  0  1
1  0  0

In [ ]:
titanic_data = pd.concat([titanic_data,sex,Pcl,embark],axis = 1)
titanic_data.head(2)

   PassengerId  Survived  Pclass  ...  3  Q  S
0            1         0       3  ...  1  0  1
1            2         1       1  ...  0  0  0

[2 rows x 16 columns]

In [ ]:
titanic_data.drop(['Sex','Embarked','Pclass','Name','Ticket','PassengerId'],axis=1,
                  inplace=True)
titanic_data.head()

   Survived   Age  SibSp  Parch     Fare  male  2  3  Q  S
0         0  22.0      1      0   7.2500     1  0  1  0  1
1         1  38.0      1      0  71.2833     0  0  0  0  0
2         1  26.0      0      0   7.9250     0  0  1  0  1
3         1  35.0      1      0  53.1000     0  0  0  0  1
4         0  35.0      0      0   8.0500     1  0  1  0  1

In [ ]:
#Training and Testing data
X = titanic_data.drop("Survived",axis=1)
y = titanic_data["Survived"]
from sklearn.model_selection import train_test_split

In [ ]:
#Splitting into training set and testing set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions = logmodel.predict(X_test)

In [ ]:
#Metrics
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions)*100)

83.14606741573034

In [ ]:
predictions = logmodel.predict([[22.0,1,0,7.2500,1,0,1,0,1]])
predictions

array([0])

In [ ]:
!pip install flask-ngrok

Collecting flask-ngrok
  Downloading https://files.pythonhosted.org/packages/af/6c/f54cb686ad1129e27d125d182f90f52b32f284e6c8df58c1bae54fa1adbc/flask_ngrok-0.0.25-py3-none-any.whl
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (1.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.2)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=0.8->flask-ngrok) (1.1.1)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask,jsonify
app =Flask(__name__)
run_with_ngrok(app) #starts ngrok when the app is running
@app.route("/<int:Age>/<int:SibSp>/<int:Parch>/<float:Fare>/<Gender>/<int:PClass>/<Place>")
def home(Age,SibSp,Parch,Fare,Gender,PClass,Place):
  p = []
  p += [Age,SibSp,Parch,Fare]
  if Gender.casefold() == "m":
    p+=[1]
  else:
    p+=[0]
  if PClass == 2:
    p+=[1,0]
  elif PClass == 3:
    p+=[0,1]
  else:
    p+=[0,0]
  if Place.casefold() == "queenstown":
    p+=[1,0]
  elif Place.casefold() == "southampton":
    p+=[0,1]
  else:
    p+=[0,0]
  arr = np.array([p])
  predict =logmodel.predict(arr)
  if predict == [1]:
    result = {'result':'Survived'}
  else:
    result = {'result':'NotSurvived'}
  
  return jsonify(result)
app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://c39cd266.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [05/May/2020 14:44:38] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [05/May/2020 14:44:38] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [05/May/2020 14:46:44] "GET /22/1/0/7.25/M/3/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 14:46:51] "GET /22/1/0/7.25/M/3/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 14:46:52] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [05/May/2020 14:46:58] "GET /22/0/7.25/M/3/Southhampton HTTP/1.1" 404 -
127.0.0.1 - - [05/May/2020 14:46:59] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [05/May/2020 14:47:46] "GET /22/1/0/7.25/M/3/Southhampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 14:49:13] "GET /22/1/0/7.25/M/3/Southhampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 14:49:13] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [05/May/2020 15:14:05] "GET //20/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:14:09] "GET //20/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:14:10] "GET //20/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:14:33] "GET //20/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:15:07] "GET //20/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:18:33] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:22:48] "GET /22/1/0/7.25/M/3/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:23:43] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:23:44] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:23:45] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:23:45] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:23:46] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:23:46] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:23:46] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:24:10] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -
127.0.0.1 - - [05/May/2020 15:24:11] "GET //50/1/1/7.25/M/1/Southampton HTTP/1.1" 200 -

In [ ]:
"""